<div class="app-content content ">
    <!-- <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div> -->
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                   
                </div>
            </div>
            
        </div>
        <div class="content-body">


            <!-- Hoverable rows start -->
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Call Ongoing Call</h4>
                        </div>
                       
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Phone Number</th>
                                        <th>Call Status</th>
                                        <th>Agent Name</th>
                                        <th>Team Leader</th>
                                        <th>Extension</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="font-weight-bold">(888) 888 7777</span>
                                        </td>
                                        <td><span class="badge badge-pill badge-light-warning mr-1">Waiting</span></td>
                                        <td>
                                            John Pet
                                        </td>
                                        <td>Akash</td>
                                        <td>
                                            101
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="font-weight-bold">(888) 888 7777</span>
                                        </td>
                                        <td><span class="badge badge-pill badge-light-success mr-1">On Call</span></td>
                                        <td>
                                            John Pet
                                        </td>
                                        <td>Akash</td>
                                        <td>
                                            101
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hoverable rows end -->

        

            
          
        </div>
    </div>
</div>