
<!-- BEGIN: Content-->
<div class="app-content content ">
    <!-- <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div> -->
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users list start -->
            <section class="app-user-list">
                <!-- users filter start -->
                
                <!-- users filter end -->
                <!-- list section start -->
                <div class="card">
                    <div class="row" id="basic-table">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" style="width:100%;">Contact List 
                                        <a [routerLink]="['/add-contact']">
                                        <button style="float: right" class="btn add-new btn-primary mt-50" tabindex="0" aria-controls="DataTables_Table_0" type="button" ><span>Add New Contact</span></button>
                                        </a>
                                    </h4>
                                        
                                </div>
                                <div class="table-responsive" style="margin-left: 10px;margin-right: 10px;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Contact </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of contact_list.result | paginate: config">
                                                <td>
                                                    <span class="font-weight-bold">{{item.name}}</span>
                                                </td>
                                                <td>
                                                    <span class="font-weight-bold">{{item.contact}}</span>
                                                </td>
                                               
                                              
                                              
                                              </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal to add new user starts-->
                    <div class="modal modal-slide-in new-user-modal fade" id="modals-slide-in">
                        <div class="modal-dialog">
                            <form class="add-new-user modal-content pt-0" novalidate="novalidate" [formGroup]="authForm" (ngSubmit)="createUser()">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                                <div class="modal-header mb-1">
                                    <h5 class="modal-title" id="exampleModalLabel">New User</h5>
                                </div>
                                <div class="modal-body flex-grow-1">
                                    <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.first_name.errors }">
                                        <label class="form-label" for="basic-icon-default-fullname">Full Name</label>
                                        <span *ngIf="isSubmitted && formControls.first_name.errors" class="help-block">
                                            <span *ngIf="formControls.first_name.errors.required"> First Name is required</span>
                                            </span>
                                        <input type="text" class="form-control dt-full-name" id="basic-icon-default-fullname" placeholder="John Doe" formControlName="first_name" name="first_name" aria-label="John Doe" aria-describedby="basic-icon-default-fullname2">
                                    </div>
                                    
                                    <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                                        <label class="form-label" for="basic-icon-default-email">Email</label>
                                        <span *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                                            <span *ngIf="formControls.email.errors.required"> Email is required</span>
                                          </span>
                                        <input type="text" id="basic-icon-default-email" class="form-control dt-email" placeholder="john.doe@example.com" aria-label="john.doe@example.com" aria-describedby="basic-icon-default-email2" formControlName="email" name="email">
                                        <small class="form-text text-muted"> You can use letters, numbers &amp; periods </small>
                                    </div>
                                    <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.phone.errors }">
                                        <label class="form-label" for="basic-icon-default-uname">Phone</label>
                                        <span *ngIf="isSubmitted && formControls.phone.errors" class="help-block">
                                            <span *ngIf="formControls.phone.errors.required"> Phone is required</span>
                                          </span>
                                        <input type="text" id="basic-icon-default-uname" class="form-control dt-uname" placeholder="(888) 888 8888" aria-label="jdoe1" aria-describedby="basic-icon-default-uname2" formControlName="phone" name="phone" >
                                    </div>
                                    <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.extension.errors }">
                                        <label class="form-label" for="basic-icon-default-uname">Extension</label>
                                        <span *ngIf="isSubmitted && formControls.extension.errors" class="help-block">
                                            <span *ngIf="formControls.extension.errors.required"> Extension is required</span>
                                          </span>
                                        <input type="text" id="basic-icon-default-uname" class="form-control dt-uname" placeholder="Extension" aria-label="jdoe1" aria-describedby="basic-icon-default-uname2" formControlName="extension" name="extension">
                                    </div>
                                    <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.role.errors }">
                                        <label class="form-label" for="user-role">User Role</label>
                                        <span *ngIf="isSubmitted && formControls.role.errors" class="help-block">
                                            <span *ngIf="formControls.role.errors.required"> Role is required</span>
                                          </span>
                                        <select id="user-role" class="form-control" formControlName="role" name="role">
                                            <option value="4">Agent</option>
                                            <option value="3">Leam Leader</option>
                                            <option value="2">Operation Manager</option>
                                        </select>
                                    </div>
                                  
                                    <button type="submit" class="btn btn-primary mr-1 data-submit waves-effect waves-float waves-light">Submit</button>
                                    <button type="reset" class="btn btn-outline-secondary waves-effect" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Modal to add new user Ends-->
                </div>
                <!-- list section end -->
            </section>
            <!-- users list ends -->
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
                </ngx-spinner>   
        </div>
    </div>
</div>
<!-- END: Content-->

 

