<div class="app-content content ">
    <!-- <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div> -->
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                   
                </div>
            </div>
            
        </div>
        <div class="content-body">


            <!-- Hoverable rows start -->
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Call Logs</h4>
                        </div>
                       
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Phone Number</th>
                                        <th>Call Date</th>
                                        <th>Call Time</th>
                                        <th>Waiting Time</th>
                                        <th>Call Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                           
                                            <span class="font-weight-bold">(999) 988 8888</span>
                                        </td>
                                        <td>12 May 2020</td>
                                        <td>12:30 PM</td>
                                        <td> 12 s </td>
                                        <td><span class="badge badge-pill badge-light-primary mr-1">Accept</span></td>
                                        <td>
                                        
                                                <button type="button" class="btn btn-outline-info round waves-effect">Join</button>
                                           
                                        </td>
                                           
                                    </tr>
                                    <tr>
                                        <td>
                                           
                                            <span class="font-weight-bold">(999) 988 8888</span>
                                        </td>
                                        <td>12 May 2020</td>
                                        <td>12:30 PM</td>
                                        <td> 12 s </td>
                                        <td><span class="badge badge-pill badge-light-warning mr-1">Waiting</span></td>
                                        <td>
                                        
                                                <button type="button" class="btn btn-outline-info round waves-effect">Join</button>
                                           
                                        </td>
                                           
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hoverable rows end -->

        

            
          
        </div>
    </div>
</div>